.div-main{
  background-color: #eee;
  min-height: 100vh;
}
.flexuse{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.flexuse section{
  flex-grow: 1;
  align-self: center;
}
.relative-img{
  position: relative;
  width: 250px;
  margin:auto;
}
.absolute-img{
  top:16%;
  left:0;
  position: absolute;
  width: 250px;
  animation:spin 8s linear infinite;
}
@keyframes spin { 100% { transform:rotate(360deg); } }
.head{
  text-align: center;
  font-weight: bold;
  padding-top:10px;
}
.posts-main{
  max-width:800px;
  margin:auto;
}
.posts{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 850px;
  margin: auto;
}
.single-post{
  width:200px;
  flex-grow: 1;
  margin:6px;
  background-color: #fff;
  box-shadow: 2px 3px 3px rgba(0,0,0,0.3);
}
.single-post img{
  width:100%;
}
.single-post img:hover{
  opacity:0.6;
}
.title-post{

}
.title-post-detail{
  font-size:26px;
  padding:1em;
}
.title-post a{
  color:#000;
  font-weight: bold;
  text-decoration: none;
}
.title-post a:hover{
  color:orange;

}
.more{
  width:100%;
  text-align: right;
  margin:10px 0;
}
.more a{
  color:#fff;
  background-color: #0069ff;
  padding:3px;
  text-decoration: none;
  margin:5px;
}
.more a:hover{
  background-color: #0033cc;

}

/*  about page */
.about-main-inside{
  max-width:800px;
  margin:auto;
  background-color: #fff;
  padding:10px;
}
.about-main-inside h1, h2, h3{
  text-align: center;
  padding:8px;
}
.image{
  text-align: center;
}
.para-large{
  font-size: 30px;
  font-weight: bold;
}
.para-medium{
  font-size: 23px;
  font-weight: bold;
}
.para-long{
  margin-bottom:40px;
}


/*  Pagination */

.pagination{
  padding:20px 8px;
}
.a-link{
  background-color:  #0033cc;
  color:white;
  padding:5px;
  margin:0 4px;
  border-radius:5px;
  box-shadow: 1px 2px 1px #eee;
  text-decoration: none;
}
.a-link:hover{
  background-color:  #2659d9;
}
